In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('headbrain.csv')
data.head()

   Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
0       1          1             4512                 1530
1       1          1             3738                 1297
2       1          1             4261                 1335
3       1          1             3777                 1282
4       1          1             4177                 1590

In [5]:
data.isnull()

     Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
0     False      False            False                False
1     False      False            False                False
2     False      False            False                False
3     False      False            False                False
4     False      False            False                False
..      ...        ...              ...                  ...
232   False      False            False                False
233   False      False            False                False
234   False      False            False                False
235   False      False            False                False
236   False      False            False                False

[237 rows x 4 columns]

In [7]:
x = data['Head Size(cm^3)'] #independent features

In [9]:
y = data['Brain Weight(grams)'] #dependent features

In [11]:
xmean = x.mean()
print(xmean)

3633.9915611814345

In [13]:
ymean = y.mean()
print(ymean)

1282.873417721519

In [15]:
num = 0
den = 0
for i in x:
    num = (x-xmean)*(y-ymean)+num
    den = (x-xmean)**2 + den
m = num/den
print(m)

0      0.281463
1      0.135822
2      0.083135
3     -0.006107
4      0.565602
         ...
232    0.411612
233    0.282816
234    0.446078
235    0.400272
236    0.670284
Length: 237, dtype: float64